* {
  font-family: 'Maven Pro', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 254, 254, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #555;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

/* desktop */

/* header */

header {
  position: fixed;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 2px -2px 5px 0 black;
  z-index: 2;
}

header img {
  width: 5rem;
}

.nav-link {
  gap: 4.5rem;
}

.active {
  transition: all;
  transition-duration: 0.3s;
}

li {
  list-style: none;
}

/* homepage */

.home-content {
  background:
    linear-gradient(135deg, rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.76)),
    url(../src/images/bckgrnd.jpg);
  background-size: cover;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-content h1 {
  font-size: 5rem;
}

.name-animation {
  animation: name-entrance 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.subtext {
  font-size: 2.5rem;
}

.subtext-animation {
  animation: subtext-entrance 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.home-intro {
  margin-top: 3.5rem;
  font-size: 1.3rem;
}

.header-msg {
  margin-top: 5rem;
  font-size: 1.2rem;
}

.mobile-logo {
  display: none;
}

/* about */

.about-content {
  background:
    linear-gradient(200deg, rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0.726)),
    url(../src/images/aboutbgn.jpg);
  background-size: cover;
  padding: 6rem 15rem 5rem;
  flex-direction: column;
  justify-content: space-between;
}

.about-content h2 {
  font-size: 3rem;
}

.text-content,
.about-list,
.project-article p {
  font-size: 1rem;
  margin: 2rem 0 0 5rem;
  align-self: center;
  max-width: 60rem;
  line-height: 2rem;
  color: rgb(70, 70, 70);
}

.about-details-container {
  margin-bottom: 3rem;
}

.experience-list li {
  list-style-type: lower-greek;
}

.skills-ul {
  justify-content: space-between;
}

.skills-ul h3 {
  color: black;
}

.contact-cta {
  text-decoration: underline;
  scroll-behavior: smooth;
}

/* projects */

#projects {
  flex-direction: column;
}

.project-article,
.header-addition {
  background:
    linear-gradient(200deg, rgba(255, 255, 255, 0.288), rgba(255, 255, 255, 0.205)),
    url(../src/images/project.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  /* max-height: 100vh; */
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  gap: 1rem;
}

.header-addition {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding: 0;
  justify-content: space-around;
}

/* .project-article:first-child {
  flex-direction: column;
} */

.article-details h2 {
  font-size: 2.5rem;
}

.projects-header,
#contact h2 {
  font-size: 3.5rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 3rem 0;
}

.project-article:nth-child(even) {
  background:
    linear-gradient(200deg, rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.582)),
    url(../src/images/projectnth.jpg);

  /* background-position: center; */
  background-size: cover;
  flex-direction: row-reverse;
}

.project-article img {
  max-width: 40rem;
  transition: all;
  transition-duration: 0.5s;
}

.project-article p {
  margin: 2rem 0;
  max-width: 30rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 0.7rem 2rem;
  color: #555;
  border: 1px solid #555;
  border-radius: 5px;
  background: none;
  transition: all;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#contact {
  background:
    linear-gradient(200deg, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0.781)),
    url(../src/images/contact.jpg);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

#contact h2 {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

form {
  margin-bottom: 8rem;
}

.contact-form {
  gap: 2rem;
  flex-direction: column;
  color: #555;
}

.form-input {
  gap: 1rem;
  width: 100%;
}

.form-input input {
  background: none;
  border: 1px solid #555;
  height: 2.5rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
}

.form-input input::placeholder {
  vertical-align: text-top;
}

form textarea {
  padding: 1rem;
  width: 41rem;
  height: 7rem;
  border-radius: 5px;
  background: none;
  border: 1px solid black;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-submission {
  justify-content: flex-end;
}

.error-msg {
  justify-content: center;
}

.error-msg p {
  border: 1px solid rgb(223, 21, 21);
  padding: 1rem;
  border-radius: 5px;
  filter: drop-shadow(4px 6px 8px #f00);
  color: #f44336;
  animation: error-msg-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* footer */

footer {
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem 0;
  color: white;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer-list {
  align-self: flex-start;
}

.footer-list-item,
footer a {
  line-height: 0.5rem;
  margin: 1.2rem 0;
  max-width: 100%;
  align-self: flex-start;
  color: #555;
}

footer a {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all;
  transition-duration: 0.5s;
}

header a:hover {
  color: #555;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

.copyright {
  justify-content: center;
  padding-top: 2rem;
  color: #555;
}

.social {
  flex-direction: column;
  text-align: center;
}

.social-div {
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .project-article,
  .header-addition {
    flex-direction: column;
    padding: 0;
    height: 100%;
  }

  .project-article {
    padding-bottom: 4rem;
  }

  .project-article:nth-child(even) {
    flex-direction: column;
  }

/* 
  .project-article img {
    max-width: 40rem;
  } */

  .about-content {
    padding: 4rem 3rem 3rem;
  }

  .projects-header {
    margin-top: 5rem;
    padding: 1rem 5rem 2rem;
  }
}

/* mobile */

.mobile-header {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-header {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
  }

  .mobile-logo {
    display: flex;
  }

  .btn:hover {
    background: none;
    color: black;
  }

  footer a:hover {
    color: #555;
  }

  .mobile-header a:hover {
    color: black;
    text-decoration: none;
  }

  .desktop-header {
    display: none;
  }

  .mobile-menu {
    background:
      linear-gradient(200deg, rgba(0, 0, 0, 0.39), rgba(255, 255, 255, 0.493)),
      url(../src/images/mobilemenu.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    z-index: 6;
    padding: 0.5rem 0 2.5rem 2rem;
    height: 100%;
    width: 15rem;
  }

  .link-item-container {
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    margin-top: 5rem;
  }

  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4.5px);
    transition: all;
    transition-duration: 0.8s;
  }

  .menu-open {
    animation: menu-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .menu-close {
    animation: menu-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  .fa-bars {
    margin: 0.5rem;
  }

  .fa-arrow-right-from-bracket {
    width: 2rem;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .nav-link {
    flex-direction: column;
    gap: 1rem;
  }

  .subtext {
    font-size: 1.7rem;
  }

  .about-content,
  .home-header {
    padding: 0 1.5rem 3.5rem;
  }

  .text-content,
  .about-list,
  .project-article p {
    margin: 0.5rem;
  }

  .project-article {
    padding: 3rem 1.5rem;
  }

  .project-article,
  .header-addition,
  .project-article:nth-child(even) {
    flex-direction: column;
    align-items: center;
    height: fit-content; /* stylelint-disable-line */
  }

  .project-article:nth-child(-n + 1) {
    padding: 0;
  }

  .header-addition {
    padding: 1.5rem;
    padding-bottom: 3rem;
    margin: 0;
    margin-top: 3rem;
  }

  .btn-container {
    margin: 0 0.5rem;
  }

  .skills-ul {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .project-article img {
    max-width: 35rem;
  }

  .article-details h2,
  .about-content h2 {
    font-size: 1.8rem;
  }

  .projects-header,
  #contact h2 {
    font-size: 2.2rem;
  }

  .projects-header {
    margin: 0;
    padding: 0 1.5rem;
  }

  #contact {
    height: 100%;
    padding-top: 2.5rem;
  }

  .form-input {
    flex-direction: column;
  }

  form textarea {
    max-width: 20rem;
  }

  #contact h2 {
    justify-content: flex-start;
  }

  form {
    margin-bottom: 5rem;
  }

  .footer-links {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .social {
    text-align: start;
  }

  .copyright {
    padding: 1rem;
    padding-top: 0;
  }
}

@media screen and (max-width: 530px) {
  .project-article img {
    max-width: 25rem;
  }
}

@media screen and (max-width: 425px) {
  .projects-header {
    padding-right: 1.5rem;
  }

  form {
    margin-bottom: 0;
  }

  #contact {
    height: 100%;
    padding-top: 0;
  }
}

@media screen and (max-width: 375px) {
  .project-article img {
    max-width: 20rem;
  }
}

@media screen and (max-width: 325px) {
  .form-input input,
  form textarea {
    width: 18rem;
  }

  .header-addition .article-details {
    padding: 0 1.5rem;
  }
}

/* animation keyframes */

@keyframes menu-in {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes error-msg-appear {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes name-entrance {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes subtext-entrance {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
